<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/chat.css" rel="stylesheet">
</head>
<body>
<div class="chat-container">
    <div class="chat-text-box" disabled="true">
    </div>
    <div class="chat-input-box">
        <input class="chat-input-area" type="text">
        <button class="chat-input-button">입력</button>
    </div>
</div>
<script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="js/socket.js"></script>
</body>
</html>